.home {
  text-align: center;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  margin: 10px;
}

.scroll {
  height: 500px;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}

input {
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: black;
  border: 2px solid #2d70b7;
  border-radius: 15px;
}

.search {
  padding: 50px;
}

.tabs {
  display: flex;
  align-items: center;
  float: center;
  border: 2px solid #2d70b7;
  margin-top: 20px;
  margin-left: 750px;
  width: 180px;
}
