.name {
    top: 30%;
    right: 54%;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-heigth {
    top: 40%;
    right: 84%;
    position: absolute;
}

.detail-weigth {
    top: 44%;
    right: 83%;
    position: absolute;
}
.detail-in-bag {
    top: 48%;
    right: 84%;
    position: absolute;
}

.description {
    width: 800;
    top: 52%;
    right: 64%;
    left: 40;
    padding-left: 200px;
    position: absolute;
}

.image-container {
    position: absolute;
    top: 20%;
    left:20%;
}

.ability {
    position: absolute;
    top: 70%;
    left:50%;
    display: flex;
    right: 0;
}

.image-lg-container {
    position: absolute;
    top: 20%;
    left:50%;
    display: flex;
    right: 0;
}

.abilities {
    top: 78%;
    right: 84%;
    position: absolute;
   
}

.ability-i{
    padding: 10px;
} 