.detail-container {
    display: block;
    width: 100%;
}

.detail-info {
    margin: 40px;
    left: 0;
    position: relative;
}

.image-container {
    height: 200px;
    width: 10%;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    left: 0;
    margin: 40px;
    position: relative;
}

.image-lg-container {
    display: flex;
    border: thin solid black;
    float: right;
    border-radius: 15px;
    height: 50vh;
    width: 50%;
    font-size: calc(10px + 2vmin);
    padding: 20px;
    margin-left: 200px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}